.bck {
  background-color: rgb(246, 246, 246);
}

.icon {
  font-family: 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, 'Liberation Sans', Roboto, Noto,
    sans-serif;
  cursor: pointer;
  background-color: rgb(35, 126, 163) !important;
  height: 1.875rem !important;
  width: 1.875rem !important;
  border-radius: 100%;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  font-weight: 700;
  color: rgb(255, 255, 255);
  font-size: 0.875rem;
  line-height: 2rem;
}

.icon1 {
  font-family: 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, 'Liberation Sans', Roboto, Noto,
    sans-serif;
  cursor: pointer;
  color: rgb(89, 89, 89);
  line-height: 1.5;
  padding: 0.5rem;
  margin: -0.5rem;
}
